-i https://pypi.org/simple
asgiref==3.8.1 ; python_version >= '3.8'
autopep8==2.3.1
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'
crispy-bootstrap5==2024.2
defusedxml==0.7.1
django==5.0.7
django-allauth==64.0.0
django-countries==7.6.1
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
idna==3.7
oauthlib==3.2.2
pep8==1.7.1
pillow==10.4.0
psycopg==3.2.1
pycodestyle==2.12.1
python-decouple==3.8
python3-openid==3.2.0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.1
stripe==10.6.0
typing-extensions==4.12.2 ; python_version >= '3.8'
urllib3==2.2.2
